body {
    font-family: arial;
    text-align: center;
    margin: auto;
    background-color: #FFFFFF;
    padding-top: 30px;
}

table {
    font-size: 25px;
    margin: auto;
    padding:40px;
}

td {
    border-style: solid;
    border-width: 1px;
    padding:10px;
}

label {
    margin-bottom: 10px;
}

.text {
    display: inline;
}

.login-form {

}

#letters {
    max-width: 450px;
    margin-top: 40px;
    border-style: solid;
    border-width: 5px;
    background-color: #EEEEEE;
}

#score {
    display: inline;
}

#lives {
    display: inline;
}

#word {
    color: #DD4477;
}

#hint {
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

#signUpError {
    color: red;
}

#logInError {
    color: red;
}

#welcome-user-msg {
    color: red;
}